.topNav{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 25px;
    border: 1px dotted rebeccapurple;
    border-radius: 15px 50px; 
    padding: 20px 0;
}

.topNav > {
    div{
    cursor: pointer;
}
}